.auth-splash {
    background-color: #42474C;
}

.display-1 {
    color: #ffffff;
    font-family: 'Aldrich';
}

.root {
    background-color: #42474C;
    height: 100%;
}

.text-primary {
    color: #ffffff !important;
}

.card-artist {
    width: 16rem;
}

