.auth-splash {
    background-color: #42474C;
}

.display-1 {
    color: #ffffff;
    font-family: 'Aldrich';
}

.root {
    background-color: #42474C;
    min-height: 100vh;
}

.text-primary {
    color: #ffffff !important;
}

.card-artist {
    width: 16rem;
}

.btn-spotify {
    color: white;
    background-color: #1DB954;
    border-color: #1DB954;
}

.scrollable-menu {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
    min-width: 400px;
}
